// General
$color1:#0278dc;
body{   
    font-family: 'Roboto', sans-serif;
    line-height: 1.54;
}
.section-title{
    font-size: 42px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 60px;
    text-align: center;
    span{
        color: $color1;
    }
}
.header-page{
    position: relative;
    .section-title{
        position: absolute;
        top: 45%;
        left: 50%;
        color: #000;
        font-weight: 900;
        font-size: 60px;
        background: #fff;
        transform: translateX(-50%);
    }
    .background{
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
    .wave{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        opacity: 0.75;
    }
}
.preloader {
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 99999;
    height: 100%;
    width: 100%;
    background-color: #265cdc;
}
.preloader .preloader--wapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.form-group{
    outline: 0;
}
.form-control:focus{
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
    border-color: $color1;    
}
input:focus{
    outline: 0;
}
textarea:focus{
    outline: 0;
}
h2.sub-title{
    font-size: 34px;
}
h3.sub-title{
    font-size: 25px;
}
.sub-title{
    font-weight: 700;
    text-transform: capitalize;
    span{
        color: $color1;
    }
}
.py-100{
    padding-top: 80px;
    padding-bottom: 80px;
}
// Navbar
.navbar.navbar-expand-lg{
    background: rgba(0, 0, 0, 0.9) !important;
    min-height: 60px;
    .navbar-brand{
        img{
            height: 50px;
            width: 50px;
        }
    }
    .nav-link{
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 1px;
        text-transform: capitalize;
        color: #fff;
        padding-left: 20px;
        padding-right: 20px;
        &:hover{
            color: $color1;
        }
    }
    .settings-profile{
        margin-left: 60px;
        margin-top: auto;
        margin-bottom: auto;
        .nav-link{
                font-size: 18px;
                background: #000;
                display: flex;
                align-items: center;
                align-self: center;
                width: 30px;
                height: 30px;
                border: 2px solid #fff;
                border-radius: 50px;
                padding: 6px;
                
            &:hover,&:focus{
                i{
                    color: #fff;
                }
            }
        }
    }
}
// Header
header.landing{
    height: 100vh;
    overflow: hidden;
    position: relative;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    .overload{
        position: absolute;
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100vh;
        top: 0;
        right: 0;
    }
    .overload div{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -40%);
        h2{
            color: #fff;
            text-align: center;
            letter-spacing: 3px;
            font-size: 45px;
            font-weight: 900;
            .title{
                font-size: 70px;
                font-weight: 900;
                text-transform: uppercase;
                display: block;
                border: 4px solid $color1;
                padding: 0px 20px;
            }
            .space-title{
                font-size: 25px;
                letter-spacing: 14px;
                margin-right: -14px;
                display: block;
            }
        }
    }
}
// About Section
.long-section{
    position: relative;
    background-image: url(../img/bg2.jpg);
    background-size: cover;
    background-position: top;
    > .overload{
        background: rgba(224, 224, 224, 0.7);
    }
}
.about-section{
    img{
        border: 4px solid #000;
        padding: 10px;
        width: 100%;
    }
    .first{
        .sub-title{
            margin-bottom: 10px;
        }
        p{
            font-weight: 600;
            padding-right: 20px;
        }
    }
    .sec{
        .sub-title{
            text-align: center;
        }
        i{
            font-size: 55px;
        }
    }
    .item{
        margin-bottom: 15px;
    }
}
// gallery
.gallery-section,.gallerys-page{
    .item{
        position: relative;
        .content{
            position: absolute;
            background: rgba(2, 120, 220, 0.7);
            height: 100%;
            width: 100%;
            top: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transform: scale(0);
            transition: all 1s ease-in-out;
            i{
                font-size: 50px;
                border: 4px solid #fff;
                padding: 0px 20px;
                border-radius: 50px;
                color: #fff;
            }
            h2{
                color: #fff;
                margin-top: 10px;
                margin-bottom: 13px;
                font-weight: 600;
                font-size: 24px;
                text-transform: capitalize;
            }
            a{
                border: 2px solid #fff;
                color: #fff;
                font-size: 19px;
                font-weight: 600;
                padding: 2px 15px 3px;
                text-decoration:  none;
            }
        }
        &:hover{
            .content{
                transform: scale(1);
            }
        }
    }
    .owl-theme .owl-dots .owl-dot span{
        width: 38px;
        height: 5px;
    }
    .owl-theme .owl-dots .owl-dot.active span,
     .owl-theme .owl-dots .owl-dot:hover span{
         background: $color1;
     }
}
// Contact Section
.contact-section{
    position: relative;
    background-image: url(../img/bg3.jpg);
    background-size: cover;
    background-position: center;
    > .overload{
        background: rgba(0, 0, 0, 0.8);
        width: 100%;
        top: 0;
        right: 0;
    }
    .section-title{
        color: #fff;
    }
    input{
        background: transparent;
        border: transparent;
        border-bottom: 3px solid #fff;
        border-radius: 0;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        &:focus{
            background: transparent;
            outline: none;
            color: #fff;
        }
    }
    input::placeholder{
        color: #fff;
    }
    textarea{
        background: rgba(0, 0, 0, 0.75);
        &:focus{
            background: rgba(0, 0, 0, 0.75);
            outline: none;
            color: #fff;
        }
    }
    .btn{
        display: block;
        width: 50%;
        margin: 20px auto 0px;
        color: #fff;
        background: #000;
        font-size: 22px;
        text-transform: capitalize;
        font-weight: 700;
        transition: all 0.3s ease-in-out;
        &:hover{
            color: $color1;
            background: #fff;
        }
    }
}
.clinets-section{
    position: relative;
    background-image: url(../img/bg3.jpg);
    background-size: cover;
    background-position: center;
    > .overload{
        background: rgba(195, 195, 195, 0.6);
        width: 100%;
        top: 0;
        right: 0;
    }
    .section-title{
        color: #000;
    }
    img{
        width: 100%;
        margin: 15px auto;
    }
}
footer{
    background: #000;
    border-top: 8px solid $color1;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    .first{
        p{
            padding-right: 30px;
            font-weight: 500;
        }
    }
    .last{
        text-align: center;
        h3{
            text-transform: capitalize;
            margin-bottom: 0px;
        }
        .sub-title{
            color: $color1;
        }
        ul{
            list-style: none;
            display: flex;
            padding: 0;
            justify-content: center;
            li{
                float: left;
                padding-left: 10px;
                padding-right: 10px;
                a{
                    text-decoration: none;
                    &:hover{
                        i{
                            background: #fff;
                            color: $color1;
                        }
                    }
                }
                i{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 24px;
                    border-radius: 50px;
                    border: 2px solid #fff;
                    width: 40px;
                    height: 40px;
                    transition: all 0.2s ease-in-out;
                }
            }
        }
    }
}
// Page Content
.page-content{
    padding-top: 50px;
    padding-bottom: 50px;
    p{
        font-weight: 600;
        font-size: 17px;
    }
    // Team Section
    .team-section{
        padding-top: 20px;
        .section-title{
            margin-bottom: 20px;
        }
        .item{
            padding: 0px 40px;
            color: $color1;
            text-align: center;
            img{
                width: 100%;
                border-radius: 50%;
                margin-bottom: 15px;
            }
            .name{
                font-size: 40px;
                font-weight: 900;
            }
            .job{
                font-size: 35px;
                font-weight: 900;
            }
        }
    }
}
.blogs-page,.gallery-page{
    padding-top: 70px;
    padding-bottom: 70px;
    .col-lg-6{
        padding: 20px 50px;
    }
    .item{
        border-radius: 50px;
        box-shadow: 1px 1px 25px 0 rgba(0, 0, 0, 0.12);
        overflow: hidden;
        margin-bottom: 30px;
        transition: all 0.3s ease-in-out;
        text-align: center;
        &:hover{
            box-shadow: 1px 1px 25px 0 rgba(0, 0, 0, 0.2);
        }
        img{
            height: 280px;
            width: 100%;
            object-fit: cover;
        }
        .content{
            color: $color1;
            font-weight: 700;
            background: #fff;
            padding-top: 10px;
            padding-left: 30px;
            padding-right: 20px;
            a{
                text-decoration: none;
            }
            .title{
                font-weight: 900;
            }
        }
    }
}
.contact-page{
    .big-title{
        font-size: 50px;
    }
    .contact-info{
        div{
            margin-bottom: 25px;
            h2{
                font-weight: 900;
                text-align: center;
                margin-bottom: 0;
            }
            p{
                font-weight: 800;
                text-align: center;
                font-size: 18px;
                margin-bottom: 0;
                color: $color1;
            }
        }
    }
    .contact-form{
        button{
            background: $color1;
            color: #fff;
            width: 100%;
        }
    }
}
.gallerys-page{
    .py-100{
        padding: 40px 0px;
    }
}
.services-page{
    .item{
        box-shadow: 1px 1px 25px 0 rgba(0, 0, 0, 0.12);
        border-radius: 80px;
        margin: auto;
        text-align: center;
        padding: 65px 25px 0px;
        h3{
            background: #0278dc;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: -52px;
            left: 50%;
            transform: translateX(-50%);
            i{
                font-size: 65px;
                color: #fff;
            }
        }
        .title{
            font-weight: 700;
        }
        p{
            font-weight: 700;
        }
        a{
            width: 70%;
            margin: -19px auto 0px;
            display: block;
            background: #0278dc;
            padding: 10px 0px;
            color: #fff;
            font-size: 18px;
            font-weight: 700;
            border-radius: 20px;
            transform: translateY(18px);
            text-decoration: none;
            cursor: pointer;
        }
    }
    h3.view-more,h4.custom-plan{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        a{
            font-weight: 900;
            text-align: center;
            text-decoration: none;
            border: 4px solid $color1;
            border-radius: 50px;
            color: #000;
            padding: 8px 22px;
            span{
                color: $color1;
            }
        }
    }
    h4.custom-plan{
        a{
            font-weight: 700;
            background: $color1;
            color: #fff;
        }
    }
    .notes{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        h5{
            padding: 10px 25px;
            font-weight: 700;
            border: 3px dashed #000;
            span{
                color: $color1;
            }
        }
    }
    .other-com{
        img{
            width: 100%;
            margin: auto;
            display: block;
        }
        p{
            font-weight: 600;
            margin: auto;
        }
        .check-service{
            background: $color1;
            border-radius: 10px;
            padding: 10px 20px;
            color: #fff;
            font-weight: 700;
            text-decoration: none;
        }
    }
}
.loginpop{
    button{
        width: 80%;
        margin: 0px auto 10px;
        padding: 8px 0px;
        display: block;
        background: $color1;
        border: 0px;
        border-radius: 20px;
        font-weight: 700;
        color: #fff;
    }
}
.projecttypepop{
    h2,h3{
        font-weight: 700;
        text-align: center;
        span{
            color: $color1;
        }
    }
    h3{
        text-align: left;
    }
    .row{
        .item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 8px;
            margin-top: 8px;
            &>div{
                border-radius: 25px;
                padding: 10px 20px;
                border: 4px solid $color1;
                cursor: pointer;
            }
            img{
                width: 80px;
                height: 80px;
            }
            h4{
                font-weight: 600;
                letter-spacing: 1px;
            }
            &.active{
                >div{
                    background: $color1;
                }
                img{
                    filter: brightness(0) invert(1);
                }
            }
        }
    }
    button{
        display: block;
        padding: 10px 40px;
        border: 0px;
        border-radius: 50px;
        font-weight: 700;
        margin-left: auto;
        background: $color1;
        color: #fff;
    }
}
.detailspop{
    h2,h3{
        font-weight: 700;
        text-align: center;
        span{
            color: $color1;
        }
    }
    h3{
        text-align: left;
    }
    textarea{
        background: #eee;
        border-radius: 20px;
        resize: none;
    }
    button{
        display: block;
        background: $color1;
        margin: 20px auto 0;
        border: 0;
        border-radius: 50px;
        width: 80%;
        padding: 8px 0px;
        font-weight: 700;
        color: #fff;
        font-size: 19px;
        letter-spacing: 1px;
    }
}
.login-page{
    .row{
        > *{
            padding: 0;
        }
    }
    header.landing{
        img{
            width: auto;
            height: 100%;
        }
        .overload{
            background: rgba(2, 120, 220, 0.6);
            .title{
                border-color: #000;
            }
            a{
                text-decoration: none;
            }
            button{
                background: #fff;
                color: #0278dc;
                border: 0;
                padding: 8px 20px;
                border-radius: 50px;
                font-weight: 700;
                display: block;
                margin: auto;
            }
        }
    }
    .log-sec,.singup-sec{
        background: rgba(238, 238, 238, 0.6);
        overflow: hidden;
        & > .row{
            height: 100vh;
        }
        .col-flex{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            .section-title{
                margin-bottom: 0;
            }
            form{
                width: 50%;
                input{
                    background: transparent;
                    color: $color1;
                    border-radius: 0;
                    border: 0;
                    display: block;
                    width: 100%;
                    padding: 4px 0px;
                    border-bottom: 2px solid #000;
                    font-weight: 700;
                    font-size: 20px;
                    &::placeholder{
                        color: $color1;
                        font-weight: 700;
                        font-size: 18px;   
                    }
                }
                button{
                    background: $color1;
                    color: #fff;
                    border: 0;
                    padding: 8px 20px;
                    border-radius: 50px;
                    font-weight: 700;
                    display: block;
                    margin: auto;
                    width: 90%;
                }
                & > * {
                    margin-bottom: 25px;
                }
            }
        }
    }
    .singup-sec{
        background: $color1;
        input,input::placeholder,.section-title span{
            text-align: center;
            color: #fff !important;
        }
        input,input::placeholder{
            border-color: #fff !important;
        }
        button{
            color: $color1!important;
            background: #fff!important;
        }
    }
}
header.profile{
    border-radius: 0px 0px 20% 20%;
    overflow: hidden;
    box-shadow: 1px 1px 25px 0 rgba(0, 0, 0, 0.4);
    img{
        height: 500px;
        width: 100%;
        object-fit: cover;
    }
    .overload{
        background: #000;
        background: #0009;
        height: 500px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 0px 0px 20% 20%;
    }
}
.slid-pro{
    margin-top: -150px;
    margin-bottom: 50px;
    .slidbar{
        box-shadow: 1px 1px 25px 0 rgba(0, 0, 0, 0.12);
        background: #f6f6f6;
        overflow: hidden;
        border-radius: 25px;
        .img-profile{
            img{
                border-radius: 25px;
                border: 7px solid #fff;
                width: 100%;
            }
            .buttons{
                padding-top: 10px;
                padding-bottom: 10px;
                display: flex;
                justify-content: space-around;
                button{
                    background: $color1;
                    border: 0;
                    border-radius: 10px;
                    color: #fff;
                    font-weight: 600;
                    letter-spacing: 1px;
                    padding: 8px 20px;
                }
            }
        }
        ul{
            list-style: none;
            padding: 0 30px;
            li{
                text-align: center;
                padding-top: 6px;
                padding-bottom: 3px;
                border-bottom: 3px solid #d9d9d9;
                a{
                    font-weight: 700;
                    font-size: 18px;
                    letter-spacing: 1px;
                    color: #3f3f3c;
                    text-transform: capitalize;
                    text-decoration: none;
                }
                &.active{
                    a{
                        color: $color1;
                    }
                }
                &:last-child{
                    border: 0;
                }
            }
        }
    }
    .box-profile-info{
        box-shadow: 1px 1px 25px 0 rgba(0, 0, 0, 0.12);
        background: #fff;
        border-radius: 25px;
        padding: 10px 30px;
        ul{
            list-style: none;
            padding: 0 30px;
            li{
                padding-top: 10px;
                padding-bottom: 5px;
                border-bottom: 3px solid #d9d9d9;
                display: flex;
                font-weight: 700;
                & .title{
                    color: #41423e;
                    text-transform: capitalize;
                    margin: 0;
                    font-size: 24px;
                    font-weight: 700;
                    width: 100%;
                }
                p{
                    font-size: 22px;
                    color: $color1;
                    text-align: center;
                    width: 100%;
                    margin: 0;
                }
                &:last-child{
                    border: 0;
                }
            }
        }
        .button-control{
            button{
                margin: 0px auto -25px;
                background: $color1;
                border-radius: 25px;
                border: 0;
                font-weight: 700;
                color: #fff;
                width: 25%;
                font-size: 18px;
                display: block;
                padding: 8px 0px;
                letter-spacing: 1px;
            }
        }
        .pricing-info{
            p{
                color: #41423e;
                font-size: 16px;
                text-align: left;
            }
        }
    }
    .order{
        .info{
            display: block;
            margin: auto;
            font-size: 20px;
            font-weight: 700;
            color: #41423e;
            border-radius: 20px;
            border: 2px solid $color1;
            width: 80%;
        }
        & > ul{
            padding: 0;
            li{
                a{
                    text-decoration: none;
                    color: #fff;
                    padding: 2px 18px;
                    border-radius: 50px;
                    margin: 0px 10px;
;
                }
                .active{
                    background: #01a82c;
                }
                .cancel{
                    background: #9c9c99;
                }
                .pending{
                    background: #ce0100;
                }
                &:last-child{
                    border-bottom: 3px solid #d9d9d9;
                }
            }
        }
        .control{
            padding: 0;
            li{
                border: 0px !important;
            }
        }
        .total-Prciing{
            font-size: 20px;
            text-align: right;
            h3{
                color: $color1;
                font-size: 29px;
                font-weight: 700;
                text-transform: capitalize;
            }
            p{
                font-size: 24px;
                font-weight: 700;
                span{
                    color: $color1;
                }
            }
        }
    }
}
// Responsive
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .slid-pro{
        margin-top: -250px;
    }
    .header-page .section-title{
        font-size: 40px;
    }
    .slidbar{
        display: none;
    }
    .long-section{
        .about-section{
            .sec{
                > .sub-title{
                    text-align: left;
                }
                .d-flex.flex-column.text-center{
                    flex-direction: row !important;
                    justify-content: space-between;
                }
            }
        }
    }
    .about-section{
        padding-bottom: 0px;
    }
    footer{
        text-align: center;
        .first p{
            padding-right: 0;
        }
    }
    .services-page{
        .row{
            .col-md-4{
                margin-bottom: 50px;
                margin-top: 50px;
            }
        }
    }
    .other-com > div{
        margin-bottom: 15px;
        img{
            width: auto !important;
        }
    }
    .blogs-page .item img, .gallery-page .item img{
        height: 100%;
    }
    .page-content .team-section .item img{
        width: 90%;
    }
    .contact-page .section-title{
        margin-bottom: 30px;
    }
    .services-page .px-5{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .slid-pro .box-profile-info ul li{
        text-align: center;
        flex-direction: column;
        word-break: break-word;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .header-page .section-title{
        font-size: 40px;
    }
    .slidbar{
        display: none;
    }
    .long-section{
        .about-section{
            .sec{
                > .sub-title{
                    text-align: left;
                }
                .d-flex.flex-column.text-center{
                    flex-direction: row !important;
                    justify-content: space-between;
                }
            }
        }
    }
    .about-section{
        padding-bottom: 0px;
    }
    footer{
        text-align: center;
        .first p{
            padding-right: 0;
        }
    }
    .services-page{
        .row{
            .col-md-4{
                margin-bottom: 50px;
                margin-top: 50px;
            }
        }
    }
    .other-com > div{
        margin-bottom: 15px;
        img{
            width: auto !important;
        }
    }
    .blogs-page .item img, .gallery-page .item img{
        height: 100%;
    }
    .page-content .team-section .item img{
        width: 70%;
    }
    .contact-page .section-title{
        margin-bottom: 30px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    .header-page .section-title{
        font-size: 48px;
    }
    .long-section{
        .about-section{
            .sec{
                > .sub-title{
                    text-align: left;
                }
                .d-flex.flex-column.text-center{
                    flex-direction: row !important;
                    justify-content: space-between;
                }
            }
        }
    }
    .services-page .other-com .img{
        display: flex;
        
    }
    .about-section{
        padding-bottom: 0px;
    }
    .services-page .px-5{
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .contact-page .section-title{
        margin-bottom: 30px;
    }
    .slid-pro{
        margin-top: -200px;
    }
}
@media (max-width: 991.98px) { 
    .navbar.navbar-expand-lg .settings-profile{
        margin-left: 0px;
    }
    .navbar.navbar-expand-lg .settings-profile .nav-link {
        font-size: 16px;
        background: transparent;
        display: block;
        width: auto;
        height: auto;
        border: 0px;
        border-radius: 0px;
        padding:.5rem 1rem;
        padding-left: 20px;

    }
    .loginnav a{
        background: $color1;
        border-radius: 50px;
        width: 45%;
        text-align: center;
    }
    .navbar.navbar-expand-lg .loginnav .nav-link:hover{
        color: #fff !important;
    }
}
@media (min-width: 992px) { 
    .navbar.navbar-expand-lg .settings-profile .nav-link span{
        display: none;
    }
    .loginnav{
        background: $color1;
        border-radius: 50px;
    }
    .navbar.navbar-expand-lg .loginnav .nav-link:hover{
        color: #fff !important;
    }
}
