body {
  font-family: "Roboto", sans-serif;
  line-height: 1.54;
}

.section-title {
  font-size: 42px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 60px;
  text-align: center;
}
.section-title span {
  color: #0278dc;
}

.header-page {
  position: relative;
}
.header-page .section-title {
  position: absolute;
  top: 45%;
  left: 50%;
  color: #000;
  font-weight: 900;
  font-size: 60px;
  background: #fff;
  transform: translateX(-50%);
}
.header-page .background {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.header-page .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0.75;
}

.preloader {
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 99999;
  height: 100%;
  width: 100%;
  background-color: #265cdc;
}

.preloader .preloader--wapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-group {
  outline: 0;
}

.form-control:focus {
  outline: 0;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  border-color: #0278dc;
}

input:focus {
  outline: 0;
}

textarea:focus {
  outline: 0;
}

h2.sub-title {
  font-size: 34px;
}

h3.sub-title {
  font-size: 25px;
}

.sub-title {
  font-weight: 700;
  text-transform: capitalize;
}
.sub-title span {
  color: #0278dc;
}

.py-100 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.navbar.navbar-expand-lg {
  background: rgba(0, 0, 0, 0.9) !important;
  min-height: 60px;
}
.navbar.navbar-expand-lg .navbar-brand img {
  height: 50px;
  width: 50px;
}
.navbar.navbar-expand-lg .nav-link {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
}
.navbar.navbar-expand-lg .nav-link:hover {
  color: #0278dc;
}
.navbar.navbar-expand-lg .settings-profile {
  margin-left: 60px;
  margin-top: auto;
  margin-bottom: auto;
}
.navbar.navbar-expand-lg .settings-profile .nav-link {
  font-size: 18px;
  background: #000;
  display: flex;
  align-items: center;
  align-self: center;
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 6px;
}
.navbar.navbar-expand-lg .settings-profile .nav-link:hover i, .navbar.navbar-expand-lg .settings-profile .nav-link:focus i {
  color: #fff;
}

header.landing {
  height: 100vh;
  overflow: hidden;
  position: relative;
}
header.landing img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
header.landing .overload {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
}
header.landing .overload div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}
header.landing .overload div h2 {
  color: #fff;
  text-align: center;
  letter-spacing: 3px;
  font-size: 45px;
  font-weight: 900;
}
header.landing .overload div h2 .title {
  font-size: 70px;
  font-weight: 900;
  text-transform: uppercase;
  display: block;
  border: 4px solid #0278dc;
  padding: 0px 20px;
}
header.landing .overload div h2 .space-title {
  font-size: 25px;
  letter-spacing: 14px;
  margin-right: -14px;
  display: block;
}

.long-section {
  position: relative;
  background-image: url(../img/bg2.jpg);
  background-size: cover;
  background-position: top;
}
.long-section > .overload {
  background: rgba(224, 224, 224, 0.7);
}

.about-section img {
  border: 4px solid #000;
  padding: 10px;
  width: 100%;
}
.about-section .first .sub-title {
  margin-bottom: 10px;
}
.about-section .first p {
  font-weight: 600;
  padding-right: 20px;
}
.about-section .sec .sub-title {
  text-align: center;
}
.about-section .sec i {
  font-size: 55px;
}
.about-section .item {
  margin-bottom: 15px;
}

.gallery-section .item, .gallerys-page .item {
  position: relative;
}
.gallery-section .item .content, .gallerys-page .item .content {
  position: absolute;
  background: rgba(2, 120, 220, 0.7);
  height: 100%;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 1s ease-in-out;
}
.gallery-section .item .content i, .gallerys-page .item .content i {
  font-size: 50px;
  border: 4px solid #fff;
  padding: 0px 20px;
  border-radius: 50px;
  color: #fff;
}
.gallery-section .item .content h2, .gallerys-page .item .content h2 {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 13px;
  font-weight: 600;
  font-size: 24px;
  text-transform: capitalize;
}
.gallery-section .item .content a, .gallerys-page .item .content a {
  border: 2px solid #fff;
  color: #fff;
  font-size: 19px;
  font-weight: 600;
  padding: 2px 15px 3px;
  text-decoration: none;
}
.gallery-section .item:hover .content, .gallerys-page .item:hover .content {
  transform: scale(1);
}
.gallery-section .owl-theme .owl-dots .owl-dot span, .gallerys-page .owl-theme .owl-dots .owl-dot span {
  width: 38px;
  height: 5px;
}
.gallery-section .owl-theme .owl-dots .owl-dot.active span,
.gallery-section .owl-theme .owl-dots .owl-dot:hover span, .gallerys-page .owl-theme .owl-dots .owl-dot.active span,
.gallerys-page .owl-theme .owl-dots .owl-dot:hover span {
  background: #0278dc;
}

.contact-section {
  position: relative;
  background-image: url(../img/bg3.jpg);
  background-size: cover;
  background-position: center;
}
.contact-section > .overload {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  top: 0;
  right: 0;
}
.contact-section .section-title {
  color: #fff;
}
.contact-section input {
  background: transparent;
  border: transparent;
  border-bottom: 3px solid #fff;
  border-radius: 0;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}
.contact-section input:focus {
  background: transparent;
  outline: none;
  color: #fff;
}
.contact-section input::placeholder {
  color: #fff;
}
.contact-section textarea {
  background: rgba(0, 0, 0, 0.75);
}
.contact-section textarea:focus {
  background: rgba(0, 0, 0, 0.75);
  outline: none;
  color: #fff;
}
.contact-section .btn {
  display: block;
  width: 50%;
  margin: 20px auto 0px;
  color: #fff;
  background: #000;
  font-size: 22px;
  text-transform: capitalize;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}
.contact-section .btn:hover {
  color: #0278dc;
  background: #fff;
}

.clinets-section {
  position: relative;
  background-image: url(../img/bg3.jpg);
  background-size: cover;
  background-position: center;
}
.clinets-section > .overload {
  background: rgba(195, 195, 195, 0.6);
  width: 100%;
  top: 0;
  right: 0;
}
.clinets-section .section-title {
  color: #000;
}
.clinets-section img {
  width: 100%;
  margin: 15px auto;
}

footer {
  background: #000;
  border-top: 8px solid #0278dc;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
}
footer .first p {
  padding-right: 30px;
  font-weight: 500;
}
footer .last {
  text-align: center;
}
footer .last h3 {
  text-transform: capitalize;
  margin-bottom: 0px;
}
footer .last .sub-title {
  color: #0278dc;
}
footer .last ul {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: center;
}
footer .last ul li {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
footer .last ul li a {
  text-decoration: none;
}
footer .last ul li a:hover i {
  background: #fff;
  color: #0278dc;
}
footer .last ul li i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border-radius: 50px;
  border: 2px solid #fff;
  width: 40px;
  height: 40px;
  transition: all 0.2s ease-in-out;
}

.page-content {
  padding-top: 50px;
  padding-bottom: 50px;
}
.page-content p {
  font-weight: 600;
  font-size: 17px;
}
.page-content .team-section {
  padding-top: 20px;
}
.page-content .team-section .section-title {
  margin-bottom: 20px;
}
.page-content .team-section .item {
  padding: 0px 40px;
  color: #0278dc;
  text-align: center;
}
.page-content .team-section .item img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 15px;
}
.page-content .team-section .item .name {
  font-size: 40px;
  font-weight: 900;
}
.page-content .team-section .item .job {
  font-size: 35px;
  font-weight: 900;
}

.blogs-page, .gallery-page {
  padding-top: 70px;
  padding-bottom: 70px;
}
.blogs-page .col-lg-6, .gallery-page .col-lg-6 {
  padding: 20px 50px;
}
.blogs-page .item, .gallery-page .item {
  border-radius: 50px;
  box-shadow: 1px 1px 25px 0 rgba(0, 0, 0, 0.12);
  overflow: hidden;
  margin-bottom: 30px;
  transition: all 0.3s ease-in-out;
  text-align: center;
}
.blogs-page .item:hover, .gallery-page .item:hover {
  box-shadow: 1px 1px 25px 0 rgba(0, 0, 0, 0.2);
}
.blogs-page .item img, .gallery-page .item img {
  height: 280px;
  width: 100%;
  object-fit: cover;
}
.blogs-page .item .content, .gallery-page .item .content {
  color: #0278dc;
  font-weight: 700;
  background: #fff;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 20px;
}
.blogs-page .item .content a, .gallery-page .item .content a {
  text-decoration: none;
}
.blogs-page .item .content .title, .gallery-page .item .content .title {
  font-weight: 900;
}

.contact-page .big-title {
  font-size: 50px;
}
.contact-page .contact-info div {
  margin-bottom: 25px;
}
.contact-page .contact-info div h2 {
  font-weight: 900;
  text-align: center;
  margin-bottom: 0;
}
.contact-page .contact-info div p {
  font-weight: 800;
  text-align: center;
  font-size: 18px;
  margin-bottom: 0;
  color: #0278dc;
}
.contact-page .contact-form button {
  background: #0278dc;
  color: #fff;
  width: 100%;
}

.gallerys-page .py-100 {
  padding: 40px 0px;
}

.services-page .item {
  box-shadow: 1px 1px 25px 0 rgba(0, 0, 0, 0.12);
  border-radius: 80px;
  margin: auto;
  text-align: center;
  padding: 65px 25px 0px;
}
.services-page .item h3 {
  background: #0278dc;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -52px;
  left: 50%;
  transform: translateX(-50%);
}
.services-page .item h3 i {
  font-size: 65px;
  color: #fff;
}
.services-page .item .title {
  font-weight: 700;
}
.services-page .item p {
  font-weight: 700;
}
.services-page .item a {
  width: 70%;
  margin: -19px auto 0px;
  display: block;
  background: #0278dc;
  padding: 10px 0px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  border-radius: 20px;
  transform: translateY(18px);
  text-decoration: none;
  cursor: pointer;
}
.services-page h3.view-more, .services-page h4.custom-plan {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.services-page h3.view-more a, .services-page h4.custom-plan a {
  font-weight: 900;
  text-align: center;
  text-decoration: none;
  border: 4px solid #0278dc;
  border-radius: 50px;
  color: #000;
  padding: 8px 22px;
}
.services-page h3.view-more a span, .services-page h4.custom-plan a span {
  color: #0278dc;
}
.services-page h4.custom-plan a {
  font-weight: 700;
  background: #0278dc;
  color: #fff;
}
.services-page .notes {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.services-page .notes h5 {
  padding: 10px 25px;
  font-weight: 700;
  border: 3px dashed #000;
}
.services-page .notes h5 span {
  color: #0278dc;
}
.services-page .other-com img {
  width: 100%;
  margin: auto;
  display: block;
}
.services-page .other-com p {
  font-weight: 600;
  margin: auto;
}
.services-page .other-com .check-service {
  background: #0278dc;
  border-radius: 10px;
  padding: 10px 20px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

.loginpop button {
  width: 80%;
  margin: 0px auto 10px;
  padding: 8px 0px;
  display: block;
  background: #0278dc;
  border: 0px;
  border-radius: 20px;
  font-weight: 700;
  color: #fff;
}

.projecttypepop h2, .projecttypepop h3 {
  font-weight: 700;
  text-align: center;
}
.projecttypepop h2 span, .projecttypepop h3 span {
  color: #0278dc;
}
.projecttypepop h3 {
  text-align: left;
}
.projecttypepop .row .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  margin-top: 8px;
}
.projecttypepop .row .item > div {
  border-radius: 25px;
  padding: 10px 20px;
  border: 4px solid #0278dc;
  cursor: pointer;
}
.projecttypepop .row .item img {
  width: 80px;
  height: 80px;
}
.projecttypepop .row .item h4 {
  font-weight: 600;
  letter-spacing: 1px;
}
.projecttypepop .row .item.active > div {
  background: #0278dc;
}
.projecttypepop .row .item.active img {
  filter: brightness(0) invert(1);
}
.projecttypepop button {
  display: block;
  padding: 10px 40px;
  border: 0px;
  border-radius: 50px;
  font-weight: 700;
  margin-left: auto;
  background: #0278dc;
  color: #fff;
}

.detailspop h2, .detailspop h3 {
  font-weight: 700;
  text-align: center;
}
.detailspop h2 span, .detailspop h3 span {
  color: #0278dc;
}
.detailspop h3 {
  text-align: left;
}
.detailspop textarea {
  background: #eee;
  border-radius: 20px;
  resize: none;
}
.detailspop button {
  display: block;
  background: #0278dc;
  margin: 20px auto 0;
  border: 0;
  border-radius: 50px;
  width: 80%;
  padding: 8px 0px;
  font-weight: 700;
  color: #fff;
  font-size: 19px;
  letter-spacing: 1px;
}

.login-page .row > * {
  padding: 0;
}
.login-page header.landing img {
  width: auto;
  height: 100%;
}
.login-page header.landing .overload {
  background: rgba(2, 120, 220, 0.6);
}
.login-page header.landing .overload .title {
  border-color: #000;
}
.login-page header.landing .overload a {
  text-decoration: none;
}
.login-page header.landing .overload button {
  background: #fff;
  color: #0278dc;
  border: 0;
  padding: 8px 20px;
  border-radius: 50px;
  font-weight: 700;
  display: block;
  margin: auto;
}
.login-page .log-sec, .login-page .singup-sec {
  background: rgba(238, 238, 238, 0.6);
  overflow: hidden;
}
.login-page .log-sec > .row, .login-page .singup-sec > .row {
  height: 100vh;
}
.login-page .log-sec .col-flex, .login-page .singup-sec .col-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.login-page .log-sec .col-flex .section-title, .login-page .singup-sec .col-flex .section-title {
  margin-bottom: 0;
}
.login-page .log-sec .col-flex form, .login-page .singup-sec .col-flex form {
  width: 50%;
}
.login-page .log-sec .col-flex form input, .login-page .singup-sec .col-flex form input {
  background: transparent;
  color: #0278dc;
  border-radius: 0;
  border: 0;
  display: block;
  width: 100%;
  padding: 4px 0px;
  border-bottom: 2px solid #000;
  font-weight: 700;
  font-size: 20px;
}
.login-page .log-sec .col-flex form input::placeholder, .login-page .singup-sec .col-flex form input::placeholder {
  color: #0278dc;
  font-weight: 700;
  font-size: 18px;
}
.login-page .log-sec .col-flex form button, .login-page .singup-sec .col-flex form button {
  background: #0278dc;
  color: #fff;
  border: 0;
  padding: 8px 20px;
  border-radius: 50px;
  font-weight: 700;
  display: block;
  margin: auto;
  width: 90%;
}
.login-page .log-sec .col-flex form > *, .login-page .singup-sec .col-flex form > * {
  margin-bottom: 25px;
}
.login-page .singup-sec {
  background: #0278dc;
}
.login-page .singup-sec input, .login-page .singup-sec input::placeholder, .login-page .singup-sec .section-title span {
  text-align: center;
  color: #fff !important;
}
.login-page .singup-sec input, .login-page .singup-sec input::placeholder {
  border-color: #fff !important;
}
.login-page .singup-sec button {
  color: #0278dc !important;
  background: #fff !important;
}

header.profile {
  border-radius: 0px 0px 20% 20%;
  overflow: hidden;
  box-shadow: 1px 1px 25px 0 rgba(0, 0, 0, 0.4);
}
header.profile img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}
header.profile .overload {
  background: #000;
  background: #0009;
  height: 500px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0px 0px 20% 20%;
}

.slid-pro {
  margin-top: -150px;
  margin-bottom: 50px;
}
.slid-pro .slidbar {
  box-shadow: 1px 1px 25px 0 rgba(0, 0, 0, 0.12);
  background: #f6f6f6;
  overflow: hidden;
  border-radius: 25px;
}
.slid-pro .slidbar .img-profile img {
  border-radius: 25px;
  border: 7px solid #fff;
  width: 100%;
}
.slid-pro .slidbar .img-profile .buttons {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
}
.slid-pro .slidbar .img-profile .buttons button {
  background: #0278dc;
  border: 0;
  border-radius: 10px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 8px 20px;
}
.slid-pro .slidbar ul {
  list-style: none;
  padding: 0 30px;
}
.slid-pro .slidbar ul li {
  text-align: center;
  padding-top: 6px;
  padding-bottom: 3px;
  border-bottom: 3px solid #d9d9d9;
}
.slid-pro .slidbar ul li a {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  color: #3f3f3c;
  text-transform: capitalize;
  text-decoration: none;
}
.slid-pro .slidbar ul li.active a {
  color: #0278dc;
}
.slid-pro .slidbar ul li:last-child {
  border: 0;
}
.slid-pro .box-profile-info {
  box-shadow: 1px 1px 25px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
  border-radius: 25px;
  padding: 10px 30px;
}
.slid-pro .box-profile-info ul {
  list-style: none;
  padding: 0 30px;
}
.slid-pro .box-profile-info ul li {
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom: 3px solid #d9d9d9;
  display: flex;
  font-weight: 700;
}
.slid-pro .box-profile-info ul li .title {
  color: #41423e;
  text-transform: capitalize;
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  width: 100%;
}
.slid-pro .box-profile-info ul li p {
  font-size: 22px;
  color: #0278dc;
  text-align: center;
  width: 100%;
  margin: 0;
}
.slid-pro .box-profile-info ul li:last-child {
  border: 0;
}
.slid-pro .box-profile-info .button-control button {
  margin: 0px auto -25px;
  background: #0278dc;
  border-radius: 25px;
  border: 0;
  font-weight: 700;
  color: #fff;
  width: 25%;
  font-size: 18px;
  display: block;
  padding: 8px 0px;
  letter-spacing: 1px;
}
.slid-pro .box-profile-info .pricing-info p {
  color: #41423e;
  font-size: 16px;
  text-align: left;
}
.slid-pro .order .info {
  display: block;
  margin: auto;
  font-size: 20px;
  font-weight: 700;
  color: #41423e;
  border-radius: 20px;
  border: 2px solid #0278dc;
  width: 80%;
}
.slid-pro .order > ul {
  padding: 0;
}
.slid-pro .order > ul li a {
  text-decoration: none;
  color: #fff;
  padding: 2px 18px;
  border-radius: 50px;
  margin: 0px 10px;
}
.slid-pro .order > ul li .active {
  background: #01a82c;
}
.slid-pro .order > ul li .cancel {
  background: #9c9c99;
}
.slid-pro .order > ul li .pending {
  background: #ce0100;
}
.slid-pro .order > ul li:last-child {
  border-bottom: 3px solid #d9d9d9;
}
.slid-pro .order .control {
  padding: 0;
}
.slid-pro .order .control li {
  border: 0px !important;
}
.slid-pro .order .total-Prciing {
  font-size: 20px;
  text-align: right;
}
.slid-pro .order .total-Prciing h3 {
  color: #0278dc;
  font-size: 29px;
  font-weight: 700;
  text-transform: capitalize;
}
.slid-pro .order .total-Prciing p {
  font-size: 24px;
  font-weight: 700;
}
.slid-pro .order .total-Prciing p span {
  color: #0278dc;
}

@media (max-width: 575.98px) {
  .slid-pro {
    margin-top: -250px;
  }

  .header-page .section-title {
    font-size: 40px;
  }

  .slidbar {
    display: none;
  }

  .long-section .about-section .sec > .sub-title {
    text-align: left;
  }
  .long-section .about-section .sec .d-flex.flex-column.text-center {
    flex-direction: row !important;
    justify-content: space-between;
  }

  .about-section {
    padding-bottom: 0px;
  }

  footer {
    text-align: center;
  }
  footer .first p {
    padding-right: 0;
  }

  .services-page .row .col-md-4 {
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .other-com > div {
    margin-bottom: 15px;
  }
  .other-com > div img {
    width: auto !important;
  }

  .blogs-page .item img, .gallery-page .item img {
    height: 100%;
  }

  .page-content .team-section .item img {
    width: 90%;
  }

  .contact-page .section-title {
    margin-bottom: 30px;
  }

  .services-page .px-5 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .slid-pro .box-profile-info ul li {
    text-align: center;
    flex-direction: column;
    word-break: break-word;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .header-page .section-title {
    font-size: 40px;
  }

  .slidbar {
    display: none;
  }

  .long-section .about-section .sec > .sub-title {
    text-align: left;
  }
  .long-section .about-section .sec .d-flex.flex-column.text-center {
    flex-direction: row !important;
    justify-content: space-between;
  }

  .about-section {
    padding-bottom: 0px;
  }

  footer {
    text-align: center;
  }
  footer .first p {
    padding-right: 0;
  }

  .services-page .row .col-md-4 {
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .other-com > div {
    margin-bottom: 15px;
  }
  .other-com > div img {
    width: auto !important;
  }

  .blogs-page .item img, .gallery-page .item img {
    height: 100%;
  }

  .page-content .team-section .item img {
    width: 70%;
  }

  .contact-page .section-title {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .header-page .section-title {
    font-size: 48px;
  }

  .long-section .about-section .sec > .sub-title {
    text-align: left;
  }
  .long-section .about-section .sec .d-flex.flex-column.text-center {
    flex-direction: row !important;
    justify-content: space-between;
  }

  .services-page .other-com .img {
    display: flex;
  }

  .about-section {
    padding-bottom: 0px;
  }

  .services-page .px-5 {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  .contact-page .section-title {
    margin-bottom: 30px;
  }

  .slid-pro {
    margin-top: -200px;
  }
}
@media (max-width: 991.98px) {
  .navbar.navbar-expand-lg .settings-profile {
    margin-left: 0px;
  }

  .navbar.navbar-expand-lg .settings-profile .nav-link {
    font-size: 16px;
    background: transparent;
    display: block;
    width: auto;
    height: auto;
    border: 0px;
    border-radius: 0px;
    padding: 0.5rem 1rem;
    padding-left: 20px;
  }

  .loginnav a {
    background: #0278dc;
    border-radius: 50px;
    width: 45%;
    text-align: center;
  }

  .navbar.navbar-expand-lg .loginnav .nav-link:hover {
    color: #fff !important;
  }
}
@media (min-width: 992px) {
  .navbar.navbar-expand-lg .settings-profile .nav-link span {
    display: none;
  }

  .loginnav {
    background: #0278dc;
    border-radius: 50px;
  }

  .navbar.navbar-expand-lg .loginnav .nav-link:hover {
    color: #fff !important;
  }
}

/*# sourceMappingURL=style.css.map */
